:root, :host {
	--size-quarter: .25rem;
	--size-half: .50rem;
	--size-base: 1rem;
	--size-double: 2rem;

	--border-width: 1px;
	--border-radius: var(--size-quarter);

	--size-default-spacing: var(--size-half);

	--control-height: 2.25rem;
}
