:root, :host {
	--size-unit: 4px;

	--size-quarter: var(--size-unit);
	--size-half: calc(var(--size-unit) * 2);
	--size-base: calc(var(--size-unit) * 4);
	--size-double: calc(var(--size-unit) * 8);

	--border-width: 1px;
	--border-radius: var(--size-quarter);

	--size-default-spacing: var(--size-half);

	--control-height: calc(var(--size-unit) * 9);
}
