/* @import "https://fonts.googleapis.com/css?family=Roboto:400,700"; */
@import './tokens/text.css';

* {
	box-sizing: border-box;
}

body, :host {
	font-family: var(--text-font-family);
	font-size: var(--text-font-size-base);
}
